body {

    font-family: Arial, sans-serif;
    background-image: url('https://th.bing.com/th/id/R.3cbc30bdef3b8633380304f4052c8ad1?rik=qnVBybrcaouO8g&pid=ImgRaw&r=0');
    margin: 0;
    padding: 0;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    background-color: #C2DEDC;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #777;
    border-radius: 4px;
}

input[type="submit"] {
    cursor: pointer;
    background-color: #2D6A4F;
    color: #fff;
    border: none;
}

input[type="submit"]:hover {
    background-color: #1B4332;
}

p {
    text-align: center;
}